
/* Privacy Policy Page Styles */
.policy-header {
    background-color: var(--background-color);
    color: var(--primary-text-color);
    text-align: center;
    padding: 20px;
    animation: fadeInDown 1s ease-out;
}

.policy-header h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    color: var(--accent-color);
}

.policy-content {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    animation: fadeInUp 1s ease-out;
}

.policy-section {
    margin-bottom: 30px;
    padding: 20px;
    background-color: var(--secondary-background-color);
    border-radius: 10px;
    box-shadow: 0 4px 15px var(--shadow-color);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.policy-section:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 20px var(--shadow-color);
}

.policy-section h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.8rem;
    color: var(--accent-color);
    margin-bottom: 10px;
}

.policy-section p {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    color: var(--primary-text-color);
    line-height: 1.6;
}

/* Footer Section */
.footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: var(--background-color);
    color: var(--primary-text-color);
    animation: fadeInUp 1s ease-out;
}

.footer-section img {
    max-width: 100px;
    margin-bottom: 10px;
}

.footer-section p {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

.developer-info {
    margin-top: 40px;
    padding: 20px;
    background-color: var(--secondary-background-color);
    border-radius: 8px;
    box-shadow: 0 4px 10px var(--shadow-color);
    animation: fadeInRight 1s ease-out;
}

.developer-info p {
    margin: 10px 0;
}

.developer-info a {
    color: var(--accent-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

.developer-info a:hover {
    color: var(--secondary-text-color);
}
/* Animations */
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }

}
@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
/* Responsive Styles */
@media (max-width: 768px) {
    .policy-header h1 {
        font-size: 2rem;
    }

    .policy-section h2 {
        font-size: 1.5rem;
    }

    .policy-section p {
        font-size: 1rem;
    }
    .developer-info {
    padding: 15px;
}
}
